.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 175px 20px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: #1d1d1d;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  color: white;
  font-family: roboto;
  text-align: justify;
  width: fit-content;
  cursor: pointer;
  transform-style: preserve-3d;
  perspective: 1000px;

  &-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }

  &-text {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);

    .date {
      color: rgb(255, 7, 110);
      font-size: 15px;
      font-weight: 300;
    }

    p {
      color: grey;
      font-size: 14px;
      font-weight: 300;
    }

    h2 {
      margin-top: 0;
      font-size: 28px;
    }
  }

  &-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(255, 7, 110);

    .stat {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      color: white;

      .type {
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
      }

      .value {
        font-size: 22px;
        font-weight: 500;

        sup {
          font-size: 12px;
        }
      }

      .border {
        border-left: 1px solid rgb(172, 26, 87);
        border-right: 1px solid rgb(172, 26, 87);
      }
    }
  }
}

.rgb::after {
  content:"";
  background: linear-gradient(45deg,
  #ff0000 0%,
  #ff9a00 10%,
  #d0de21 20%,
  #4fdc4a 30%,
  #3fdad8 40%,
  #2fc9e2 50%,
  #1c7fee 60%,
  #5f15f2 70%,
  #ba0cf8 80%,
  #fb07d9 90%,
  #ff0000 100%  )
  repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  animation: rgb 6s linear infinite;
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px); // or z-index
}

@keyframes rgb {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
